*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hello{
  font-family: 'Lilita One';
  font-size: 5em;
}
